header {
    background:#ebebeb;
    padding: 40px;
    color: grey;
    margin-bottom: 20px;
    text-align: center;
}

body {
    background: #777;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
}

nav {
    background: #ebebeb;
    padding: 40px;
    color: grey;
    margin-bottom: 20px;
    text-align: center;
}

div {
    float: left;
    color: grey;
    height: 250px;
    background: #ebebeb;
    margin-bottom: 20px;
    width: 495px;
    border: 1px solid black;
    text-align: center;
}

aside {
    text-align: center;
    color: grey;
    float: right;
    height: 250px;
    background: #ebebeb;
    width: 47%;
    border: 1px solid black;
}

#article {
    background-color: black;
    color: grey;
    padding: 20px;
    margin: 20px;
}

#h {
    background: #ebebeb;
    padding: 100;
    background-color: white;
    margin: 20px;
    margin-bottom: 0;
}

#p {
    background: #ebebeb;
    padding: 0;
    background-color: white;
    margin: 20px;
}

footer {
    text-align: center;
    color: grey;
    clear: both;
    padding: 40px;
    background-color: #ebebeb;
    margin-bottom: 10;
}